---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { useSanityClient } from "@sanity/astro";
import Sectionhead from "@components/sectionhead.astro";
import PortableText from "@components/portableText.astro";
import { getSanityFileURL } from "@utils/all";
import { getLangFromUrl } from "i18n/utils";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "missions"] {
    ...,
  }`);

  return posts.map(({ title, espece, author, date, body, _id }) => ({
    params: { title: _id, lang: 'fr'},
    props: { title, date, author, espece, body },
  }));
}
const lang = getLangFromUrl(Astro.url);

const { title, date, author, espece, body } = Astro.props;
---

<Layout title={title}>
  <Container>
    <div class="mx-auto max-w-[735px] mt-14">
      <!-- <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
        {category ?? 'undefined'}
      </span> -->
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {title}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
          {author.name}
        </span>
        <span class="text-gray-400">•</span>
        <time
          class="text-gray-400"
          datetime={date}>
          {date}
        </time>
        <!-- <span class="text-gray-400 hidden md:block">•</span> -->
        <!-- <div class="w-full md:w-auto flex flex-wrap gap-3">
          {
            entry.data.tags.map((tag) => (
              <span class="text-sm text-gray-500">#{tag}</span>
            ))
          }
        </div> -->
      </div>
    </div>

    <div class="mx-auto prose prose-lg mt-6">
        <!-- <Content /> -->
        <PortableText portableText={body} />
    </div>
    <div class="text-center mt-8">
      <a
        href=`/${lang}/blog`
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Blog</a
      >
    </div>
  </Container>
</Layout>
