---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { getLangFromUrl } from "i18n/utils";
import { getCollection, getEntry } from "astro:content";


export async function getStaticPaths() {
  // Filter blog entries with 'draft: false' & date before current date
  const posts = await getCollection("blog", ({ data }) => {
    return !data.draft && data.publishDate < new Date();
  });

  return posts.map(({ slug, data: {title, category, author, publishDate: publishedAt } }) => ({
    params: { slug: slug },
    props: { title, category, author, publishedAt, videos: [] },
  }));
}

const lang = getLangFromUrl(Astro.url);

const { title, category, author, publishedAt, videos } = Astro.props;
const Body = await (await getEntry("blog", Astro.params.slug)).render();
---

<Layout title={title}>
  <Container>
    <div class="mx-auto max-w-[735px] mt-14">
      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
        {category ?? 'undefined'}
      </span>
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {title}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
          {author}
        </span>
        <span class="text-gray-400">•</span>
        <time
          class="text-gray-400"
          datetime={publishedAt.toDateString()}>
          {publishedAt.toDateString()}
        </time>
        <!-- <span class="text-gray-400 hidden md:block">•</span> -->
        <!-- <div class="w-full md:w-auto flex flex-wrap gap-3">
          {
            entry.data.tags.map((tag) => (
              <span class="text-sm text-gray-500">#{tag}</span>
            ))
          }
        </div> -->
      </div>
    </div>

    <div class="mx-auto prose prose-lg mt-6">
      <!-- <Content /> -->
      <Body.Content />
        { /* videos &&
          <video width="320" height="240" controls class="m-auto">
            <source src={getSanityFileURL(videos.asset._ref)} type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> -->
          </video>
        */ }
    </div>
    <div class="text-center mt-8">
      <a
        href={`/${lang}/blog`}
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Blog</a
      >
    </div>
  </Container>
</Layout>
